:root{
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}
body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  background-color: var( --mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif, cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue{
  color: var( --mainBlue);
}
.button-container-cart{
  text-transform: capitalize;
  font-size: 1.4rem;
  background: transparent;
  border: 0.05rem solid var(--mainYellow);
  color: var(--mainYellow);
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  margin: 0.2rem 0.5rem 0.3rem 0;
  transition: all 0.5s ease-in-out;
}
.button-container-cart:hover{
      background: var(--mainYellow);
      color: var(--mainBlue);
}
.button-container-cart:focus{
  outline: none;
}
.button-container{
  text-transform: capitalize;
  font-size: 1.4rem;
  background: transparent;
  border: 0.05rem solid var(--lightBlue);
  color: var(--lightBlue);
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  margin: 0.2rem 0.5rem 0.3rem 0;
  transition: all 0.5s ease-in-out;
}
.button-container:hover{
      background: var(--lightBlue);
      color: var(--mainBlue);
}
.button-container:focus{
  outline: none;
}
#nav-wrapper{
  background: var(--mainBlue);
}
 .nav-link1 {
    color: var(--mainBlue) !important;
    font-size: 1.3rem;
    text-transform: capitalize !important;
  }
.card{
  border-color: transparent;
  transition: all 1s linear;
}
.card-footer{
  background: transparent;
  border-top: transparent;
  transition: all 1s linear;
}
.card:hover{
  border: 0.04rem solid rgba(0,0,0, 0.2);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0, 0.2);
}
.card-footer:hover{
  background: rgba(247, 247,247);
}
.card-img-top{
  transition: all 1s linear;
}
.img-container{
  position: relative;
  overflow: hidden ;
}
.img-container:hover .card-img-top{
  transform: scale(1.5);
}
.cart-btn{
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.2rem 0.4rem;
  background: var(--lightBlue);
  border: none;
  color: var(--mainWhite);
  font-size: 1.4rem;
  border-radius: 0.5rem 0 0 0;
  transform: translate(100%, 100%);
  transition: all 1s linear;
}
.img-container:hover .cart-btn{
  transform: translate(0,0);
}
.cart-btn:hover{
  color: var(--mainBlue);
  cursor: pointer;
}
.modal-con{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}
#mod{
  background: var(--mainWhite);
}
.btn-black{
  background: transparent;
  text-transform: capitalize;
  font: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}
.btn-black:hover{
  background:  var(--mainDark) !important;
  color: var(--mainWhite) !important;
}
.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}